# ==========================================
# E.R.M.E.S. - PROJECT SPECIFIC IGNORES
# ==========================================

# Dataset e File Dati
data/
*.csv
*.zip

# Pesi e Modelli di Machine Learning
models/
*.h5
*.hdf5
*.weights

# Log di TensorBoard e Diagnostica
logs/
notebooks/logs/

# Output Grafici Generati
*.svg
*.png

# ==========================================
# PYTHON & IDE STANDARD IGNORES
# ==========================================

# Jupyter Notebook e IDE Artifacts
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/

# Ambienti Virtuali e Variabili d'Ambiente
.env
.venv
env/
venv/
ENV/

# Python Cache e Byte-compiled files
__pycache__/
*.py[codz]
*$py.class
.pytest_cache/

# File di Sistema
.DS_Store
Thumbs.db